<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtajYfwbnpuhMWl91ufslPdGsSXqESR7A</string>
	<key>GCM_SENDER_ID</key>
	<string>266660427246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttergirdi</string>
	<key>PROJECT_ID</key>
	<string>movie-matching-8a836</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-matching-8a836.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266660427246:ios:0c515460041bf045c04aff</string>
</dict>
</plist>